.container {
  width: 95%;
  margin: 0% auto;
  display: flex;
  padding-top: 0.6em;
  align-items: center;
}
.navLogo {
  padding: 0%;
  width: 35px;
  height: auto;
}
ul {
  padding: 0%;
  list-style: none;
  display: flex;
}
li {
  margin-left: 2em;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.navLink {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 0.8em;
}
.carIcon {
  width: 50px;

  display: inline;
}
@media (max-width: 393px) {
  .container {
    justify-content: space-around;
    width: 90%;
  }
  .navLink {
    font-size: 0.7em;
  }
  .navLogo {
    width: 30px;
    height: auto;
  }
}
