@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Roboto', sans-serif; */
.moreView {
  padding: 1em 1em;
  background-color: #ebeeef;
}
.postParentDiv {
  max-width: 96%;
  margin: 0 auto;
}
.heading {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.recentPostContainer {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}
